<table class="mat-elevation-z8">
    <tr>
      <th>Expediente: </th>
      <td>{{ detalleAudiencia.tipoExpedienteDescripcion | uppercase }} {{ detalleAudiencia.numeroExpediente | uppercase}}</td>
    </tr>
    <tr>
      <th>Tipo Audiencia: </th>
      <td>{{ detalleAudiencia.descripcionTipoAudiencia | uppercase }}</td>
    </tr>
    <tr>
      <th>Tipo de Juicio: </th>
      <td>{{ detalleAudiencia.descripcionJuicio | uppercase }}</td>
    </tr>
    <tr>
        <th>Inicio: </th>
        <td>{{ detalleAudiencia.fechaInicio  | uppercase }}</td>
    </tr>
    <tr>
        <th>Fin: </th>
        <td>{{ detalleAudiencia.fechaFinal | uppercase }}</td>
      </tr>
    <tr>
        <th>Juzgado: </th>
        <td>{{ detalleAudiencia.nombreJuzgado | uppercase }}</td>
    </tr>
    <tr>
      <th>Sala: </th>
      <td>SALA {{ detalleAudiencia.salaNombre | uppercase }} </td>
    </tr>
    <tr>
        <th>Juez: </th>
        <td>{{ detalleAudiencia.juez | uppercase }}</td>
    </tr>
    <tr>
        <th>Auxiliar: </th>
        <td>{{ detalleAudiencia.auxiliarAudiencia | uppercase }}</td>
    </tr>
    <tr>
        <th>Observaciones: </th>
        <td>{{ detalleAudiencia.resumenAudiencia | uppercase}}</td>
     </tr>
</table>