<h1>Expediente {{dataSource[0].tipoExpedienteDescripcion | uppercase }} {{ dataSource[0].numeroExpediente | uppercase}}</h1>
<h2>Indice</h2>
<h3>Movimientos del indice</h3>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">
                <mat-expansion-panel hideToggle [expanded]="element.isExpanded" (click)="expand(element)">
                    <mat-expansion-panel-header>
                        {{element.position}}
                    </mat-expansion-panel-header>
                    <div *ngFor="let child of element.children">{{ child.id }}</div>
                </mat-expansion-panel>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>TIPO</th>
            <!--<td mat-cell *matCellDef="let element">{{element.tipo}}</td>-->
            <td mat-cell *matCellDef="let element">
                <mat-expansion-panel hideToggle [expanded]="element.isExpanded" (click)="expand(element)">
                    <mat-expansion-panel-header>
                        {{element.tituloElementoIndice}}
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let child of element.documentos">
                            <mat-icon matListItemIcon (click)="abrirDocumento(child.url)">folder</mat-icon>
                            <div matListItemTitle>{{child.nombre}}</div>
                        </mat-list-item>
                    </mat-list>
                    <!-- <div *ngFor="let child of element.documentos">{{ child.nombre }}</div> -->
                </mat-expansion-panel>
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="informacion">
            <th mat-header-cell *matHeaderCellDef>INFORMACIÓN</th>
            <td mat-cell *matCellDef="let element">{{element.descripcionElementoIndice}}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>FECHA</th>
            <td mat-cell *matCellDef="let element">{{element.fechaElementoIndice}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="detalles">
            <th mat-header-cell *matHeaderCellDef>Ver más</th>
            <td mat-cell *matCellDef="let element">{{element.detalles}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>