<div>
    <h1 mat-dialog-title>Imprimir Audiencias</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
            <div class="example-container">
                <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Fecha inicio">
                  <input matEndDate placeholder="Fecha fin">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <a mat-raised-button color="warn" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon></a>
        </div>
    </div>
</div>
</div>