<div>
    <h1 mat-dialog-title>Imprimir Audiencias</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
            <div class="example-container">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Rango de fechas</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="startDate" placeholder="Fecha inicio">
                        <input matEndDate formControlName="endDate" placeholder="Fecha fin">
                    </mat-date-range-input>
                    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="search(range)" aria-label="Example icon button with a home icon">
                <mat-icon>search</mat-icon>
            </button>
                <!--<a mat-raised-button color="warn" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon></a>-->
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-loader">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>