
<mat-toolbar>
    <button mat-raised-button>SALIR</button>

    <!-- <button mat-raised-button
        matTooltip= ""
        matTooltipPosition="below"
        >
        CÓDIGO COLORES
    </button> -->

   <mat-form-field appearance="outline">
        <mat-chip-list class="chip-list">
            <mat-chip selected color="secondary">
                CÓDIGO COLORES
            </mat-chip>
        </mat-chip-list>
    </mat-form-field>

    <span class="flexExpand"></span>

    <button mat-raised-button (click)="openDialog()">AGENDAR</button>

    <mat-form-field appearance="fill">
        <mat-select>
          <mat-option ng-model = "toa" *ngFor="let tipoAgenda of tiposAgenda" [value]="tipoAgenda.value">
            {{tipoAgenda.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="prev()">ATRAS</button>

    <button mat-raised-button (click)="next()">ADELANTE</button>

    <button mat-raised-button>BUSCAR</button>

    <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button>IMPRIMIR</button>
</mat-toolbar>
<div>
<!--       <div class="header" >
                  <button mat-raised-button>SALIR</button>
                  <div class="tooltip" style="margin-left:30px; z-index:5;">CÓDIGO COLORES
                        <span class="tooltiptext">
                              <table id="tblAyuda" class="tooltiptext" style="margin-bottom:-15px;">
                                    <tbody><tr>
                                          <td bgcolor="#00B0F0">REMATE</td>
                                          <td bgcolor="#E6E321">AUDIENCIA PRELIMINAR</td>
                                          <td bgcolor="#0070C0">AUDIENCIA DE JUICIO</td>
                                          <td bgcolor="#00B050">AUDIENCIA EN AUXILIO \ VARIOS</td>
                                          <td bgcolor="#92D050">AUDIENCIA EN MEDIDA</td>
                                    </tr>
                                    <tr>
                                          <td bgcolor="#D99593">AUDIENCIA DE JUICIO (ALLANAMIENTO)</td>
                                          <td bgcolor="#938953">AUDIENCIA DE JUICIO INCIDENTAL</td>
                                          <td bgcolor="#800040">ESCUCHA DE MENORES</td>
                                          <td bgcolor="#FF8000">FASE DE CONCILIACIÓN</td>
                                          <td bgcolor="#D80024">AUDIENCIA DE JUICIO(ORAL ESPECIAL)</td>
                                    </tr>
                              </tbody></table>
                        </span>
                  </div>      
                  <input type="button" value="IMPRIMIR" (click)="imprimir" style="float: right; width: 100px;">
                  <input type="date" id="start" name="trip-start" value="2022-10-07" style="float: right; width: 100px;">
                  <button type="button" class="btn btn-light" style="display:block;float:right;">BUSCAR</button>
                  <button  id="next" type="button" class="btn btn-light" style="display:block;float:right;" (click)="next">ADELANTE</button>
                  <button id="prev" type="button" class="btn btn-light" style="display:block;float:right;"  (click)="prev">ATRAS</button>
                  <select name="select" id="select"  style="display:block;float:right;">
                        <option value="volvo">GENERAL</option>
                        <option value="saab">CONCILIADOR</option>
                  </select>
                  <button mat-raised-button (click)="openDialog()" style="display:block;float:right;">AGENDAR</button>
      </div> -->
      <!-- <div id="divDialogoSolicitud" style="display:none;" class="DialogosAgenda">
            <div style="text-align:center; font-weight:bold; color:#65002B; margin-bottom:10px; margin-top:10px; float:left; width:95%;">Datos Audiencia</div>
            <img src="../imagenes/close.png" onclick="javascript: gto.poderjudicialgto.gob.mx.civil.familiar.runtime.AgendaInstitucional.Metodos.Eventos.CerrarPop($('#divDialogoSolicitud'));" style="float:right;"/>
            <div id="divDatosSolicitud" style="align-items:center; margin:10px; width:95%; height:80%">
                <div id="divMensaje" style="color:#65002B; display:none">
                    El expediente que busca no existe.
                </div>
                <table id="tblSolicitudAudiencia" class="Tabla">
                    <tr>
                        <td>
                            Expediente
                        </td>
                        <td>
                            <select id="cmbTipoExpediente"> </select> <input type="text" id="txtNumeroExpediente" style="width:80px;" />
                            <div id="divBtnBuscar" style="width:24px;height:24px; background-image:url(../imagenes/buscar.png); background-repeat:no-repeat; float:right;" onclick="gto.poderjudicialgto.gob.mx.civil.familiar.runtime.AgendaInstitucional.SolicitudAudiencia.BuscarExpediente();">
                            </div>
                            <br/>
                        </td>
                    </tr>
                    <tr class="DatosSolicitud" style="display:none;">
                        <td>
                            Tipo Audiencia
                        </td>
                        <td>
                            <select id="cmbTipoAudiencia" style="width:95%"></select>
                        </td>
                    </tr>
                    <tr class="DatosSolicitud" style="display:none;">
                        <td>
                            Observaciones
                        </td>
                        <td>
                            <textarea id="txaObservaciones"  style="height:150px; width:95%;">
                            </textarea>
                        </td>
                    </tr>
                    <tr></tr>
                </table>
                <div style="position:absolute; top:360px; right:10px;">
                    <input type="button" value="Aceptar" onclick="gto.poderjudicialgto.gob.mx.civil.familiar.runtime.AgendaInstitucional.SolicitudAudiencia.GuardarSolicitud()"/>
                </div>
            </div>
      </div> -->
</div>
<div id='calendar'>
    <full-calendar
    [options]='calendarOptions'
></full-calendar>
</div>